# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.DS_Store
.DS_Store
.DS_Store
app/.DS_Store
app/src/.DS_Store
*.bin
*.lock
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/javaCompile/jarAnalysis.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/deploymentTargetDropDown.xml
.idea/libraries/Gradle__androidx_activity_activity_ktx_1_2_2_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_adapters_7_0_4_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_common_7_0_4.xml
.idea/libraries/Gradle__androidx_databinding_databinding_ktx_7_0_4_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_runtime_7_0_4_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_4_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_multidex_multidex_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_multidex_multidex_instrumentation_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_0_0_rc02_aar.xml
.idea/libraries/Gradle__androidx_room_room_common_2_3_0.xml
.idea/libraries/Gradle__androidx_room_room_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_room_room_runtime_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_sqlite_sqlite_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_sqlite_sqlite_framework_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_12_0.xml
.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_12_0.xml
.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_12_0_aar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_12_0_aar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_1.xml
.idea/libraries/Gradle__com_google_dagger_dagger_2_38_1.xml
.idea/libraries/Gradle__com_google_dagger_dagger_lint_aar_2_38_1_aar.xml
.idea/libraries/Gradle__com_google_dagger_hilt_android_2_38_1_aar.xml
.idea/libraries/Gradle__com_google_dagger_hilt_core_2_38_1.xml
.idea/libraries/Gradle__com_jakewharton_timber_timber_5_0_1_aar.xml
.idea/libraries/Gradle__com_squareup_moshi_moshi_1_8_0.xml
.idea/libraries/Gradle__com_squareup_moshi_moshi_kotlin_1_8_0.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_14_9.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_17_2.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_moshi_2_9_0.xml
.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_9_0.xml
.idea/libraries/Gradle__org_jetbrains_annotations_20_1_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_6_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_reflect_1_2_71.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_4_1.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_4_1.xml
.idea/navEditor.xml
*.bin
*.lock
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/javaCompile/jarAnalysis.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
*.lock
*.lock
*.bin
*.lock
.gradle/.DS_Store
.gradle/7.0.2/.DS_Store
app/.DS_Store
app/src/.DS_Store
.DS_Store
*.bin
*.lock
*.bin
*.lock
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/javaCompile/jarAnalysis.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/misc.xml
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/jarAnalysis.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/javaCompile/jarAnalysis.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
